{% load i18n mezzanine_tags comment_tags rating_tags %}
    {% for comment in comments_for_thread %}
        {% if not comment.is_removed and comment.is_public %}
    		<div class="{% if not comment.is_public %}unapproved{% endif %}{% if comment.is_removed %}removed{% endif %}{% if comment.by_author %}owner{% endif %}comment" id="comment-{{ comment.id }}">
        {% editable comment.is_public comment.is_removed %}
            <p>{% autoescape off %}{{ comment.comment|comment_filter }}{% endautoescape %}</p>
	    <div class="commenter">
	    <span class="name">
	    {% if comment.url %}
                <a href="{{ comment.url }}">
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
                </a>
            {% else %}
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
            {% endif %}
	    </span>
	    <span class="date">
	    {{ comment.submit_date|date:"H:i l \t\h\e jS \o\f F Y" }}
	    </span>
            <a name="comment-{{ comment.id }}" href="{{ request.path }}#comment-{{ comment.id }}">#</a> 
	    </div>
        {% endeditable %}
    	</div>
        {% else %}

        {% if request.user.is_staff %}
	<div class="{% if comment.is_removed %}removed{% elif not comment.is_public %}unapproved{% endif %}{% if comment.by_author %}owner{% endif %}comment" id="comment-{{ comment.id }}">
        {% editable comment.is_public comment.is_removed %}
            <p>{% autoescape off %}{{ comment.comment|comment_filter }}{% endautoescape %}</p>
	    <div class="commenter">
	    <span class="name">
	    {% if comment.url %}
                <a href="{{ comment.url }}">
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
                </a>
            {% else %}
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
            {% endif %}
	    </span>
	    <span class="date">
	    {{ comment.submit_date|date:"H:i l \t\h\e jS \o\f F Y" }}
	    </span>
            <a name="comment-{{ comment.id }}" href="{{ request.path }}#comment-{{ comment.id }}">#</a> 
            </div>
        {% endeditable %}
	<p>
            {% if comment.is_removed %}
            {% trans "Comment deleted" %}
            {% else %}
            {% trans "Comment awaiting approval" %}
            {% endif %}
            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        </p>
    	</div>

        {% endif %}

        

        {% endif %}
        {% comment_thread comment %}
    {% endfor %}
    {% if no_comments %}
    <div>{% trans "There are currently no comments" %}</div>
    {% endif %}

